.wrap{
    min-height: calc(100vh - 70px);
}

.footer {
    height: 30px;
    background-color: white;
}
#footer-text {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
}

.bg-primary-color{
	background-color: #007af5;
}

.project-orphan-logo{
	width: 400px;
	height: 150px;
}

.orphan-font{
	font-family: 'Roboto';
	font-weight: bold;
}

.button {
    background-color: #007af5;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 15px 15px;
    border-radius: 30px;
}

.align_top{
	top:-120px;
}

.align_top_section{
	top: -180px;
}

.padding_section4{
	padding: 75px 100px 125px 100px;
}

.padding_section2{
	padding: 100px 100px 75px 100px;
}

#projects{ 
  text-align: center;
  color: white;
  padding-bottom: 1.5rem;
}

#project_section{
  padding-top: 50px;
  padding-bottom: 50px;
}

#grid_div{
  padding-left: 2.5rem;
  padding-right: 2rem;
}

* {
    box-sizing: border-box;
  }
  
  /* Just for the fallback layout */
  
  main {
    max-width: 250px;
    margin: 0 auto;
  }
  article {
    margin: 1rem 0;
  }
  
  /* Now lets do a Grid-based layout */
  
  @supports (display: grid) {
    main { 
      max-width: 100000px;
      margin: 0;
    }
    article {
      margin: 0;
      background-color: white;
    }
    .project {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 285px));
      grid-gap: 2.5rem;
      
    }
  }
    
  .project {
    font-family: Avenir, Roboto, Helvetica, san-serif; 
    font-size: 80%;
  }
  .project-item {
    position: relative;
    display: inline-block;
    /*border:  1px solid black;*/
    border-radius: 1rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
  }

  .project-item::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .project-item:hover {
    transform: scale(1.2, 1.2);
  }

  .project-item:hover::after {
    opacity: 1;
  }

  .project-item > h1 {
    margin: 1rem 1rem 0;
  }
  .project-item > ul {
    margin: 0 0 1rem;
  }
  .project-item > p {
    margin: 0.25em 1rem 1rem;
  }
  .project-item > span {
    margin-top: auto;
    width:30%;
  }
  