{% extends 'base.html' %}
  {% load static %}
    {% block content %}
      <header class="bg-primary-color">
        <div class="container">
          <img class="center project-orphan-logo" src="{% static 'img/Center_image_logo.png' %}">
        </div>
      </header>
        <section style="background-color: #FFFFFF">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2>Section 2</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </section>  

        <section style="background-color: #007af5">
            <div class="container" >
            <div class="row">
              <div class="col-lg-8 mx-auto text-white">
                <h2>Section 3</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
              </div>
            </div>
          </div>
        </section>  

        <section style="background-color: #FFFFFF">  
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2>Section 4</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
              </div>
            </div>
          </div>
        </section>  
{% endblock content %}
