{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/new_css_here' %}">
{% endblock %}

{% block content %}
 <section class="bg-primary-color align_top_section" id="project_section">
            <div class="container-fluid" >
              <div class="row">
                <div class="col-lg-12 mx-auto" id="grid_div">
                  <h1 id="projects">Projects</h1>
                  <main class="project">
                    <article class="project-item">
                      <h3>Project1</h3>
                      <hr>
                      <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, sed do <br>eiusmod
                        tempor incididunt ut <br>labore et dolore magna aliqua.<br> Ut enim ad minim veniam,
                        quis nostrud <br>exercitation ullamco labo</p>
                      <div>
                        <span class="badge badge-pill badge-primary">C</span>
                        <span class="badge badge-pill badge-primary">Python</span>
                      </div>
                    </article>
                    
                    <article class="project-item">
                      <h3>Project2</h3> <hr>
                      <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, sed do <br>eiusmod
                        tempor incididunt ut <br>labore et dolore magna aliqua.<br> Ut enim ad minim veniam,
                        quis nostrud <br>exercitation ullamco labo</p>
                      <div>
                        <span class="badge badge-pill badge-primary">C</span>
                        <span class="badge badge-pill badge-primary">Python</span>
                      </div>
                    </article>
                  
                    <article class="project-item">
                      <h3>Project3</h3> <hr>
                      <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, sed do <br>eiusmod
                        tempor incididunt ut <br>labore et dolore magna aliqua.<br> Ut enim ad minim veniam,
                        quis nostrud <br>exercitation ullamco labo</p>
                      <div>
                        <span class="badge badge-pill badge-primary">C</span>
                        <span class="badge badge-pill badge-primary">Python</span>
                      </div>
                    </article>
                  
                    <article class="project-item">
                      <h3>Project4</h3> <hr>
                      <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, sed do <br>eiusmod
                        tempor incididunt ut <br>labore et dolore magna aliqua.<br> Ut enim ad minim veniam,
                        quis nostrud <br>exercitation ullamco labo</p>
                      <div>
                        <span class="badge badge-pill badge-primary">C</span>
                        <span class="badge badge-pill badge-primary">Python</span>
                      </div>
                    </article>

                    <article class="project-item">
                      <h3>Project4</h3> <hr>
                      <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, sed do <br>eiusmod
                        tempor incididunt ut <br>labore et dolore magna aliqua.<br> Ut enim ad minim veniam,
                        quis nostrud <br>exercitation ullamco labo</p>
                      <div>
                        <span class="badge badge-pill badge-primary">C</span>
                        <span class="badge badge-pill badge-primary">Python</span>
                      </div>
                    </article>

                    <article class="project-item">
                      <h3>Project5</h3> <hr>
                      <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, sed do <br>eiusmod
                        tempor incididunt ut <br>labore et dolore magna aliqua.<br> Ut enim ad minim veniam,
                        quis nostrud <br>exercitation ullamco labo</p>
                      <div>
                        <span class="badge badge-pill badge-primary">C</span>
                        <span class="badge badge-pill badge-primary">Python</span>
                      </div>
                    </article>

                    <article class="project-item">
                      <h3>Project6</h3> <hr>
                      <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, sed do <br>eiusmod
                        tempor incididunt ut <br>labore et dolore magna aliqua.<br> Ut enim ad minim veniam,
                        quis nostrud <br>exercitation ullamco labo</p>
                      <div>
                        <span class="badge badge-pill badge-primary">C</span>
                        <span class="badge badge-pill badge-primary">Python</span>
                      </div>
                    </article>

                    <article class="project-item">
                      <h3>Project7</h3> <hr>
                      <p>Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, sed do <br>eiusmod
                        tempor incididunt ut <br>labore et dolore magna aliqua.<br> Ut enim ad minim veniam,
                        quis nostrud <br>exercitation ullamco labo</p>
                      <div>
                        <span class="badge badge-pill badge-primary">C</span>
                        <span class="badge badge-pill badge-primary">Python</span>
                      </div>
                    </article>


                  </main>
                </div>
              </div>
            </div>
    </section>  
{% endblock %}

