{% extends 'base.html' %}

{% block content %}
<h2>Upload Project</h2>
 
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">
          <center><img src="{% static 'img/Center_image_logo.png' %}" alt="" height=30% width=30% align="top"></center>
      </a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <center> <h3 class="card-title">Upload Project</h3></center>
            <form method="post" novalidate>
              {% csrf_token %}
               {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Upload</button>
            </form>
          </div>
{% endblock body %}
{% endblock %}